<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Signup</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h1>Welcome to our website</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <img src="https://ichef.bbci.co.uk/news/800/cpsprodpb/7727/production/_103330503_musk3.jpg" alt="Description of image">
        </section>
        <section>
            <h2>Our Clients</h2>
            <!-- Add your clients here -->
        </section>
    </main>
</body>
</html>